# ASP.NET / .NET
bin/
obj/
*.user
*.suo
*.dbmdl
*.log
Backend/BankingPaymentsApp_API/BankingPaymentsApp_API/Logs/*.txt

# Visual Studio / IDE
.vs/
*.vscode/
*.swp

# Angular / Node
node_modules/
dist/
.angular/

# General / System
*.env
*.DS_Store
