<div class="hero-class">
  <section class="hero-section">
  <div class="hero-content">
    <h1>Streamline Your <br>Corporate Payments</h1>
    <p>Manage clients, approve payments, disburse salaries, and generate reports with ease — secure, fast, and fully compliant.</p>
    <div class="buttons">
      <button class="start-btn" [routerLink]="['/login']">Get Started →</button>
    </div>
    <div class="stats">
  <div class="stat-item">
    <h2>{{ usersCount | number }}</h2>
    <p>Clients Managed</p>
  </div>
  <div class="stat-item">
    <h2>{{ transactionsCount | number }}</h2>
    <p>Transactions Processed</p>
  </div>
  <div class="stat-item">
    <h2>{{ banksCount | number }}</h2>
    <p>Banks Integrated</p>
  </div>
</div>

  </div>
  <div class="hero-image">
  <img src="assets/gif/online-pay.gif" alt="Corporate payments animation">
</div>

</section>

</div>

