.btn-create-payment {
  background-color: #635bff;
  color: #fff;
  border: none;
  padding: 4px 16px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.btn-create-payment:hover {
  background-color: #5146ea;
  color: #fff;
}