<div class="navbar-main">
  <nav class="navbar">
  <div class="logo">
    <span>PayPro</span>
  </div>
  <div class="nav-links">
  <a href="#features">Features</a>
  <a href="#testimonials">Testimonials</a>
  <a href="#faq">FAQ</a>
  <a href="#query">Contact Us</a>
</div>

  <div class="nav-buttons">
  <button class="login-btn" [routerLink]="['/login']">Login</button>


  <div class="dropdown">
    <button class="buy-now-btn">Register</button>
    <div class="dropdown-content">
      <a [routerLink]="['/ClientRegister']" >Client User</a>
      <a [routerLink]="['/BankUserRegistration']">Bank User</a>
    </div>
  </div>
</div>


</nav>

</div>
