<div class="dashboard-container">
  <h2>Welcome to Client Dashboard</h2>

  <div class="dashboard-actions">

    <button [routerLink]="['/ClientUser', userId, 'profile']">
        Profile
    </button>

    <button [routerLink]="['/ClientAccount', userId]">
        Account
    </button>

    <button [routerLink]="['/ClientDocuments', userId]">
        Documents
    </button>

    <button [routerLink]="['/ClientUser', userId, 'beneficiaries']">
    Beneficiaries
    </button>

    <button [routerLink]="['/ClientUser', userId, 'transactions']">
    Transactions
    </button>


    <button [routerLink]="['/ClientEmployees', userId]">
        Employees
    </button>


    <button [routerLink]="['/ClientDocuments', userId]">
        Payments
    </button>

    <button [routerLink]="['/ClientDocuments', userId]">
        Salary Disbursement
    </button>

  </div>
</div>
