<div *ngIf="!loading">
  <h2>Client Payment Info</h2>

  <div *ngIf="filteredPayments.length === 0">
    No data found.
  </div>

  <div *ngIf="filteredPayments.length > 0">
    <!-- Client Details -->
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>Account ID</th>
          <th>Account Number</th>
          <th>Balance</th>
          <th>Bank</th>
          <th>Branch</th>
          <th>Client Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of filteredPayments">
          <td>{{ c.accountId }}</td>
          <td>{{ c.accountNumber }}</td>
          <td>{{ c.balance }}</td>
          <td>{{ c.bankName }}</td>
          <td>{{ c.branch }}</td>
          <td>{{ c.userFullName }}</td>
          <td>{{ c.userEmail }}</td>
          <td>{{ c.userPhone }}</td>
        </tr>
      </tbody>
    </table>

    
  </div>
</div>