<div *ngIf="!loading" class="transactions-section documents-section">
  <h2 class="section-title">Client Payment Info</h2>

  <div class="filter-section d-flex flex-wrap gap-3 justify-content-center mb-4">
    <input type="number" class="form-control-dark" placeholder="Transaction ID"  />

    <input type="date" class="form-control-dark"/>

    <button class="btn btn-primary btn-filter" >
      <i class="fas fa-filter"></i> Filter
    </button>
    <button class="btn btn-secondary btn-filter">
      <i class="fas fa-redo"></i> Reset
    </button>
  </div>


  <div *ngIf="filteredPayments.length === 0" class="no-data">
    No data found.
  </div>

  <div *ngIf="filteredPayments.length > 0" class="transactions-table-wrapper">
    <!-- Client Details -->
    <table class="doc-table">
      <thead>
        <tr>
          <th>Account ID</th>
          <th>Account Number</th>
          <th>Balance</th>
          <th>Bank</th>
          <th>Branch</th>
          <th>Client Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of filteredPayments">
          <td>{{ c.accountId }}</td>
          <td>{{ c.accountNumber }}</td>
          <td>{{ c.balance | currency:'INR' }}</td>
          <td>{{ c.bankName }}</td>
          <td>{{ c.branch }}</td>
          <td>{{ c.userFullName }}</td>
          <td>{{ c.userEmail }}</td>
          <td>{{ c.userPhone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
