<div class="container">
    <h1>Making a Payment</h1>
    <form [formGroup]="createPayment" (submit)="makePayment()">
        <!-- <div class="form-group">
            <label class="form-label">Payee Account Number</label>
            <input class="form-control" formControlName="payeeAccountNumber">
        </div> -->
        <div class="form-group">
            <label class="form-label">Amount</label>
            <input class="form-control" formControlName="amount">
        </div>

        <div class="form-group">
            <label class="form-label">Pay To:</label>
            <select class="form-select" formControlName="payeeAccountNumber">
                <option value="" disabled selected hidden>Select a Beneficiary</option>
                <option *ngFor="let beneficiary of beneficiaries" [value]="beneficiary.accountNumber">
                    {{beneficiary.beneficiaryName}}
                </option>
            </select>
        </div>
        <button class="btn btn-success">Make Payment</button>
    </form>
</div>