<h2>Client Registration</h2>

<form [formGroup]="registerForm" (ngSubmit)="register()">

  <label>Full Name:</label>
  <input formControlName="UserFullName" type="text">
  <div *ngIf="f['UserFullName'].touched && f['UserFullName'].invalid">
    Full Name is required.
  </div>

  <label>Username:</label>
  <input formControlName="UserName" type="text">
  <div *ngIf="f['UserName'].touched && f['UserName'].invalid">
    Username is required.
  </div>

  <label>Email:</label>
  <input formControlName="UserEmail" type="email">
  <div *ngIf="f['UserEmail'].touched && f['UserEmail'].invalid">
    Valid Email is required.
  </div>

  <label>Phone:</label>
  <input formControlName="UserPhone" type="text">
  <div *ngIf="f['UserPhone'].touched && f['UserPhone'].invalid">
    Phone is required and must be 10 digits.
  </div>


  <label>Password:</label>
  <input formControlName="Password" type="password">
  <div *ngIf="f['Password'].touched && f['Password'].invalid">
    Password must be at least 8 characters long, include uppercase, lowercase, number, and special character.
  </div>

  <label>Confirm Password:</label>
  <input formControlName="ConfirmPassword" type="password">
  <div *ngIf="registerForm.errors?.['notMatching'] && f['ConfirmPassword'].touched">
    Passwords do not match.
  </div>

  <label>Date of Birth:</label>
  <input formControlName="DateOfBirth" type="date">

  <label>Address:</label>
  <textarea formControlName="Address"></textarea>

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>